   
/* BASIC COLOR */
$primary_color			: #64d657 !default;//#ffcc33
$secondary_color		: #680068 !default;
$font_color				: #999999 !default;

/* FONTS */
$primary_font   	: 'Lato', sans-serif;
$secondary_font   	: 'Merriweather', serif;
