.theme-banner {

	img {
		width: 100%;
	}

	.banner-item {
		position: relative;

		.slider-bg {
			height: 0;
			padding-top: 56.25%;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.content-block {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			display: -webkit-box;
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: center;

			.container {
				width: 100%;
			}//.container

			.title {
				margin-top: 0;
				font-size: 1.9444em;
				color: #fff;
				font-family: $secondary_font;
				font-weight: 700;
				margin-bottom: 20px;
				line-height: 1.75;
				max-width: 768px;

				a {
					color: #fff;

					&:hover {
						color: $primary_color;
					}
				}//a

			}//.title

			.content-text {
				font-size: 1em;
				color: #fff;
				font-weight: 600;
				letter-spacing: 0.5px;
				max-width: 768px;
			}//.content-text

			.button-wrap {
				margin-top: 40px;
				max-width: 768px;

				.link-button {
					font-size: 0.8888em;
					font-family: $secondary_font;
					font-weight: 500;
					display: inline-block;
					color: $secondary_color;
					background: $primary_color;
					padding: 10px 15px;
					border-radius: 5px;
					margin-right: 35px;

					+ .link-button {
						margin-right: 0;
					}

					&:hover {
						background: $secondary_color;
						color: $primary_color;
					}

				}//.link-button

			}//.button-wrap

			&.center {
				text-align: center;

				.title, .content-text, .button-wrap {
					margin-left: auto;
					margin-right: auto;
				}

			}//&.center

			&.right {
				text-align: right;

				.title, .content-text, .button-wrap {
					margin-left: auto;
				}//.title

			}//&.right

		}//.content-block

	}//.banner-item

	.owl-carousel {

		.owl-nav {

			[class*="owl-"] {
				position: absolute;
				top: 50%;
				left: 3%;
				width: 50px;
				height: 50px;
				text-align: center;
				line-height: 50px;
				background: none;
				border-radius: 0;
				text-indent: 60px;
				overflow: hidden;
				white-space: nowrap;
				opacity: 0.35;
				filter: alpha(opacity=35);

				&::before {
					content: "";
					background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23fff" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path></svg>');
					width: 25px;
					height: 25px;
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
				}

				&:hover {
					opacity: 1;
					filter: alpha(opacity=100);
				}

			}//[class*="owl-"]

			.owl-next {
				left: auto;
				right: 3%;

				&::before {
					background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23fff" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path></svg>');
				}

			}//.owl-next

		}//.owl-nav

	}//.owl-carousel

	&.video-banner {

		.wp-custom-header {
			position: relative;
			height: 0;
			padding-top: 56.25%;

			iframe, video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}//iframe

			button.wp-custom-header-video-button {
				position: absolute;
				bottom: 20px;
				left: 20px;
				width: 40px;
				padding: 0;
				height: 40px;
				border-radius: 100%;
				overflow: hidden;
				z-index: 999;
				background-color: $primary_color;
				background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23000" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"></path></svg>');
				background-repeat: no-repeat;
				background-size: 13px;
				background-position: center;
				border: none;
				text-indent: 50px;
				white-space: nowrap;

				&:hover {
					background-color: $secondary_color;
					background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23fff" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"></path></svg>');
				}

				&.wp-custom-header-video-pause {
					background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23000" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>');

					&:hover {
						background-image: url('data:image/svg+xml; utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%23fff" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>');
					}

				}//&.wp-custom-header-video-pause

			}//button

		}//.wp-custom-header

	}//&.video-banner

}//.theme-banner

body:not(.home) {

	.theme-banner {
		margin-bottom: 0;

		&.video-banner .wp-custom-header {
			height: auto;
			padding: 0;
		}
		
	}//.theme-banner

}//body:not(.home)

@include media(md) {

	.theme-banner {

		.banner-item {

			img {
				height: 600px;
				object-fit: cover;
			}//img

		}//.banner-item

		.owl-carousel {

			.owl-nav {

				[class*="owl-"] {
					left: 0;
				}//[class*="owl-"]

				.owl-next {
					left: auto;
					right: 0;
				}

			}//.owl-nav

		}//.owl-carousel

	}//.theme-banner

}//media(md)

@include media(sm) {

	.theme-banner {

		.banner-item {

			img {
				height: 540px;
				object-fit: cover;
			}//img

			.content-block {

				.title {
					font-size: 1.3333em;
					margin-bottom: 10px;
				}//.title

				.button-wrap {
					margin-top: 25px;
				}//.button-wrap

			}//.content-block

		}//.banner-item

	}//.theme-banner

}//media(sm)

@media screen and (max-width: 899px) {

	.theme-banner {

		&.video-banner {

			.wp-custom-header {
				height: auto;
				padding-top: 0;

				iframe, video {
					position: static;
				}//iframe

			}//.wp-custom-header

		}//&.video-banner

	}//.theme-banner

}

@include media(xs) {

	.theme-banner {

		.banner-item {
			
			img {
				height: auto;
			}

			.content-block {
				position: static;
				background: $secondary_color;
				padding: 30px 0;

				.button-wrap {

					.link-button {
						display: block;
						text-align: center;
						margin: 10px 0;
					}//.link-button

				}//.button-wrap

			}//.content-block

		}//.banner-item

		.owl-carousel {

			.owl-nav {

				[class*="owl-"] {
					top: 30%;
				}//[class*="owl-"]

			}//.owl-nav

		}//.owl-carousel

	}//.theme-banner

}//media(xs)