.category-section {
	margin-top: 40px;

	.custom-category-wrapper {
		display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
		flex: 1;
		flex-wrap: wrap;

		.category-block {
			width: 31.33%;
			margin-right: 3%;
			flex-direction: column;
			margin-bottom: 20px;

			&:nth-child(3n) {
				margin-right: 0;
			}

		}//.category-block

	}//.custom-category-wrapper

}//.category-section

@include media(sm) {

	.category-section {

		.custom-category-wrapper {

			.category-block {
				width: 48%;

				&:nth-child(3n) {
					margin-right: 3%;
				}

				&:nth-child(2n) {
					margin-right: 0;
				}

			}//.category-block

		}//.custom-category-wrapper

	}//.category-section

}//media(sm)

@include media(xs) {

	.category-section {

		.custom-category-wrapper {
			flex-direction: column;

			.category-block {
				width: 100%;
				margin-right: 0;
			}//.category-block

		}//.custom-category-wrapper

	}//.category-section

}//media(xs)