.gallery-section {
	margin-top: 70px;
	margin-bottom: 70px;

	.gallery-item {
		position: relative;

		.gallery-caption {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,0.5);
			color: #fff;
			padding: 0 10px;
			line-height: 1.5;
			font-size: 0.8888em;
			opacity: 0;
			@include transition(all ease 0.35s);
		}

		&:hover .gallery-caption, 
		&.focused .gallery-caption {
			padding-top: 10px;
			padding-bottom: 10px;
			opacity: 1;
			filter:alpha(opacity=100);
		}

	}//.gallery-item

	.widget:last-child {
		margin-bottom: 0;
	}
	
	.widget_media_gallery {

		.widget-title {
			margin: 0 auto 30px auto;
			font-size: 1.6667em;
			font-family: $secondary_font;
			font-weight: 800;
			letter-spacing: 0.5px;
			color: $secondary_color;
			display: table;
			position: relative;
			text-align: center;

			&::before {
				content: "";
				background: $primary_color;
				width: 30px;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
			}

		}//.widget-title

		.gallery {
			margin-bottom: 0;
		}

	}//.widget_media_gallery

}//.gallery-section